<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<!-- bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <title>REDIS UI</title>

</head>
<body style="background-color: rgb(78, 78, 78);color: white;">
  <div class="row">
  <h1 style="font-weight: 900;padding-left: 2rem;">REDIS</h1>
  <form class="form-inline" method="post" action="/" style="padding-left: 2rem;">
    <div class="form-group mb-2">
      <label for="staticEmail2" class="sr-only">Email</label>
      <input type="text" name='obtener'  class="form-control"  placeholder="Buscar palabra...">
    </div>
    <button type="submit" class="btn btn-primary ml-2 mb-2">buscar</button>
    <button type="submit" name='refrescar' class="btn btn-primary ml-2 mb-2">Refrescar</button>
  </form>
</div>
  <!--BODY-->
  <div class="container m-5">

  <div>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">key</th>
          <th scope="col">Palabra</th>
          <th scope="col">Definicion</th>
        </tr>
      </thead>
      <tbody>
        {%for i in tabla%}
        <tr>
          <th scope="row">{{ i.id }}</th>
          <td>{{i.palabra}}</td>
          <td>{{i.definicion}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>

  <div class="p-5">
    <h4>Agregar palabra</h4>
    <form method="post" action="/">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label >Llave</label>
          <input type="text" name="palabra" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label >Definicion</label>
          <input type="text" name="definicion" class="form-control">
        </div>
      </div>
      <button name="agregar" type="submit" class="btn btn-primary">AGREGAR</button>
    </form>



  <div class="mt-3">
    <h4>Editar palabra</h4>
    <form method="post" action="/">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label >Llave</label>
          <input type="text" name="palabra" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label >Nueva Palabra</label>
          <input type="text" name="editarPalabra" class="form-control">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">EDITAR</button>
    </form>
  </div>


    <h4>Editar definicion</h4>
    <form method="post" action="/">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label >Llave</label>
          <input type="text" name="palabra" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label >Nueva Definicion</label>
          <input type="text" name="definicion" class="form-control">
        </div>
      </div>
      <button name="editarDefinicion" type="submit" class="btn btn-primary">EDITAR</button>
    </form>

  <div class="mt-3">
    <h4>Borrar palabra</h4>
    <form method="post" action="/">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label >Llave</label>
          <input type="text" name="palabra" class="form-control">
        </div>
      </div>
      <button type="submit" name="borrar" class="btn btn-danger">Borrar</button>
    </form>
  </div>
  </div>
</div>
<!--END BODY-->
</body>